.mtj.tmp/
*.class
*.jar
*.war
*.ear
*.nar
target/
pom.xml.*
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
out/
.idea/
.idea_modules/
*.iml
*.iws
.DS_Store
.mvn/wrapper
log/
/*.log
libraries
mvnw.cmd
mvnw
